<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Iceberg&family=Rationale&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="main-header">
          <h1>BEArt</h1>
          <input type="checkbox" id="menu-toggle" class="menu-toggle">
          <label for="menu-toggle" class="hamburger">
            <span></span>
            <span></span>
            <span></span>
          </label>
          <nav>
            <ul>
              <li><a href="../index.html">Inici</a></li>
              <li><a href="expoicions.html">Exposició Actual</a></li>
              <li><a href="#">Calendari d'expoicions</a></li>
              <li><a href="contacte.html">Contacte</a></li>
            </ul>
          </nav>
        </div>
    </header>
    <main>
        <table>
            <caption>Statement Summary</caption>
            <thead>
                <tr>
                    <th>Dies</th>
                    <th>Exposició</th>
                    <th>Inauguració</th>
                    <th>Artista</th>
                    <th>Tema</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Del 5 de març al 23 de març</td>
                    <td>Cultures Relacionades</td>
                    <td>Inauguració: Dimarts, 5 de març</td>
                    <td>Carme Pons</td>
                    <td>Tapissos</td>
                </tr>
                <tr>
                    <td>Del 6 de març al 23 de març</td>
                    <td>Ciutats Portuàries</td>
                    <td>Inauguració: Dimecres, 6 de març</td>
                    <td lang="es">Mercedes López</td>
                    <td>Pintura</td>
                </tr>
                <tr>
                    <td>Del 26 de març al 24 d'abril</td>
                    <td>Dones</td>
                    <td>Inauguració: Dimecres, 27 de març</td>
                    <td lang="es">Lucía Gomis</td>
                    <td>Pintura</td>
                </tr>
                <tr>
                    <td>Del 27 de març al 24 d'abril</td>
                    <td>Vilafranca en un got</td>
                    <td>Inauguració: Dimecres, 27 de març</td>
                    <td lang="es">Pedro Armario</td>
                    <td>Pintura</td>
                </tr>
                <tr>
                    <td>Del 30 d'abril al 22 de maig</td>
                    <td>Un llarg Viatge</td>
                    <td>Inauguració: Dimarts, 30 d'abril</td>
                    <td lang="ar">Ismael Gustems</td>
                    <td>Pintura-Escultura</td>
                </tr>
            </tbody>
        </table>
    </main>
    <footer>
        <div class="main-footer">
            <img src="../assets/logos/beart_blanc.png" alt="logo BEArt">
            <div class="rrss">
                <p>Les nostres xarxes</p>
                <div class="rrss2">
                    <a href="#"><img src="../assets/xarxes-socials/facebook.png" alt="Facebook BEArt"></a>
                    <a href="#"><img src="../assets/xarxes-socials/instagram.png" alt="Instagram BEArt"></a>
                    <a href="#"><img src="../assets/xarxes-socials/linkedin.png" alt="Linkedin BEArt"></a>
                    <a href="#"><img src="../assets/xarxes-socials/twitter.png" alt="Twitter BEArt"></a>
                    <a href="#"><img src="../assets/xarxes-socials/youtube.png" alt="Youtube BEArt"></a>
                </div>
            </div>
        </div>
        <div>
            <p><small>Treball realitat al Curs de Confecció i Publicació de Pàgines Web, 2024 || Marina Lladó i Obón</small></p>
            <nav class="nav2">
                <ul>
                    <li><a href="../index.html">Inici</a></li>
                    <li><a href="expoicions.html">Exposició Actual</a></li>
                    <li><a href="#">Calendari d'expoicions</a></li>
                    <li><a href="contacte.html">Contacte</a></li>
                  </ul>
            </nav>
        </div>
    </footer>
</body>
</html>