<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Iceberg&family=Rationale&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="main-header">
          <h1>BEArt</h1>
          <input type="checkbox" id="menu-toggle" class="menu-toggle">
          <label for="menu-toggle" class="hamburger">
            <span></span>
            <span></span>
            <span></span>
          </label>
          <nav>
            <ul>
              <li><a href="../index.html">Inici</a></li>
              <li><a href="expoicions.html">Exposició Actual</a></li>
              <li><a href="calendari.html">Calendari d'expoicions</a></li>
              <li><a href="#">Contacte</a></li>
            </ul>
          </nav>
        </div>
    </header>
    <h2>Contacta</h2>
    <form action="#" method="post">
        <fieldset>
            <label for="name">Nom i cognoms:</label>
            <input type="text" name="name" id="name" required>
        </fieldset>
        <fieldset>
            <label for="email">Correu electrònic:</label>
            <input type="email" name="email" id="email" required>
        </fieldset>
        <fieldset>
            <label for="tel">Telèfon de contacte:</label>
            <input type="tel" name="tel" id="tel">
        </fieldset>
        <fieldset>
            <label for="rao">Motiu de la consulta:</label>
            <textarea name="rao" id="rao" cols="55" rows="6"></textarea>
        </fieldset>
        <fieldset class="infor">
            <legend>Tipus d'informació que desitja rebre:</legend>
            <div>
                <input type="checkbox" id="programades" name="drone" value="programades" checked />
                <label for="programades">Sobre les exposicions programades.</label>
              </div>
            
              <div>
                <input type="checkbox" id="productes" name="drone" value="productes" />
                <label for="productes">Sobre productes a la venda a la galeria</label>
              </div>
            
              <div>
                <input type="checkbox" id="colabs" name="drone" value="colabs" />
                <label for="colabs">Sobre els artistes col·laboradors</label>
              </div>
        </fieldset>
        <input type="submit">
    </form>
    <footer>
        <div class="main-footer">
            <img src="../assets/logos/beart_blanc.png" alt="logo BEArt">
            <div class="rrss">
                <p>Les nostres xarxes</p>
                <div class="rrss2">
                    <a href="#"><img src="../assets/xarxes-socials/facebook.png" alt="Facebook BEArt"></a>
                    <a href="#"><img src="../assets/xarxes-socials/instagram.png" alt="Instagram BEArt"></a>
                    <a href="#"><img src="../assets/xarxes-socials/linkedin.png" alt="Linkedin BEArt"></a>
                    <a href="#"><img src="../assets/xarxes-socials/twitter.png" alt="Twitter BEArt"></a>
                    <a href="#"><img src="../assets/xarxes-socials/youtube.png" alt="Youtube BEArt"></a>
                </div>
            </div>
        </div>
        <div>
            <p><small>Treball realitat al Curs de Confecció i Publicació de Pàgines Web, 2024 || Marina Lladó i Obón</small></p>
            <nav class="nav2">
                <ul>
                    <li><a href="../index.html">Inici</a></li>
                    <li><a href="expoicions.html">Exposició Actual</a></li>
                    <li><a href="calendari.html">Calendari d'expoicions</a></li>
                    <li><a href="#">Contacte</a></li>
                  </ul>
            </nav>
        </div>
    </footer>
</body>
</html>