<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Iceberg&family=Rationale&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="main-header">
          <h1>BEArt</h1>
          <input type="checkbox" id="menu-toggle" class="menu-toggle">
          <label for="menu-toggle" class="hamburger">
            <span></span>
            <span></span>
            <span></span>
          </label>
          <nav>
            <ul>
              <li><a href="../index.html">Inici</a></li>
              <li><a href="#">Exposició Actual</a></li>
              <li><a href="calendari.html">Calendari d'expoicions</a></li>
              <li><a href="contacte.html">Contacte</a></li>
            </ul>
          </nav>
        </div>
    </header>
    <main>
        <div>
            <div>
                <h2>Exposició actual</h2>
                <p><span>Artista</span>: Maria José Head</p>
                <p><span>Títol de l'exposició</span>: Records</p>
            </div>
        </div>
        <div class="grid">
            <figure>
                <img src="../assets/img001.jpg" alt="la mágia de la porta">
                <fieldset>La mágia de la porta</fieldset>
            </figure>
            <figure>
                <img src="../assets/img002.jpg" alt="els canvis d'era">
                <fieldset>Els canvis d'era</fieldset>
            </figure>
            <figure>
                <img src="../assets/img003.jpg" alt="manta de la tristesa">
                <fieldset>Manta de la tristesa</fieldset>
            </figure>
            <figure>
                <img src="../assets/img004.jpg" alt="el mirall perdut">
                <fieldset>El mirall perdut</fieldset>
            </figure>
            <figure>
                <img src="../assets/img005.jpg" alt="roba estesa">
                <fieldset>Roba estesa</fieldset>
            </figure>
            <figure>
                <img src="../assets/img006.jpg" alt="la casa de l'aigua">
                <fieldset>La casa de l'aigua</fieldset>
            </figure>
            <figure>
                <img src="../assets/img007.jpg" alt="obra la porta">
                <fieldset>Obra la porta</fieldset>
            </figure>
            <figure>
                <img src="../assets/img008.jpg" alt="camí enfinestrat">
                <fieldset>Camí enfinestrat</fieldset>
            </figure>
        </div>
    </main>
    <footer>
        <div class="main-footer">
            <img src="../assets/logos/beart_blanc.png" alt="logo BEArt">
            <div class="rrss">
                <p>Les nostres xarxes</p>
                <div class="rrss2">
                    <a href="#"><img src="../assets/xarxes-socials/facebook.png" alt="Facebook BEArt"></a>
                    <a href="#"><img src="../assets/xarxes-socials/instagram.png" alt="Instagram BEArt"></a>
                    <a href="#"><img src="../assets/xarxes-socials/linkedin.png" alt="Linkedin BEArt"></a>
                    <a href="#"><img src="../assets/xarxes-socials/twitter.png" alt="Twitter BEArt"></a>
                    <a href="#"><img src="../assets/xarxes-socials/youtube.png" alt="Youtube BEArt"></a>
                </div>
            </div>
        </div>
        <div>
            <p><small>Treball realitat al Curs de Confecció i Publicació de Pàgines Web, 2024 || Marina Lladó i Obón</small></p>
            <nav class="nav2">
                <ul>
                    <li><a href="../index.html">Inici</a></li>
                    <li><a href="#">Exposició Actual</a></li>
                    <li><a href="calendari.html">Calendari d'expoicions</a></li>
                    <li><a href="contacte.html">Contacte</a></li>
                  </ul>
            </nav>
        </div>
    </footer>
</body>
</html>